<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nussl Extras</title>
</head>
<body>

<h1>NUSSL extras</h1>

<ul>
    <li>Audio:
        <ul>
            {% for file in site.static_files %}
                {% if file.path contains 'audio' %}
                    <li><a href="{{ site.baseurl }}{{ file.path }}">dev1_female3_inst_mix.wav</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>

    <li>Benchmarks:

    </li>

    <li>Models:

    </li>
</ul>

</body>
</html>