<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nussl Extras</title>
</head>
<body>

<h1>NUSSL extras</h1>

<ul id="full-list">
    <li id="audio-list">Audio:
        <ul>
            {% for file in site.static_files %}
                {% if file.path contains 'audio' %}
                    <li><a href="{{ site.baseurl }}{{ file.path }}">{{</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>

    <li id="benchmark-list">Benchmarks:

    </li>

    <li id="model-list">Models:

    </li>
</ul>

</body>
</html>